<div class="row">
	<div class="col-12" style="padding: 50px">
		<button mat-button class="getInside" (click)="deleteAll()">DelById</button>
	</div>
	<div class="col-12" style="padding: 50px">
		<button mat-button class="getInside" (click)="deleteAll()">DelAll</button>
	</div>
</div>


<div *ngIf="delAllEnable==true">
	<form (submit)="getValue()">
	<div style="padding: 10px">
		<mat-card  class="post-card">
			<div class="col-9">

				<div class="row-2">
					<mat-form-field>
					    <input matInput class="input" [(ngModel)]="id" name="id" placeholder="Enter id ">
					 </mat-form-field>
				</div>

			</div>

			<div class="row" >
				<div class="col-6" style="padding: 15px">
					<button mat-button class="get" type="reset">RESET</button>
				</div>
				<div class="col-6" style="padding: 15px">
					<button mat-button class="get"  type="submit">DELETE</button>
				</div>

			</div>
		</mat-card>
	</div>
</form>
</div>