.p1
{
background-color: darkgray;
}
.head
{
	background-color: rgb(191, 9, 227);
	height:50px;
	color:green;
	font-size: 25px;
}

.icon_back
{
	padding-left: 90px;
}

.icon_home
{
	padding-left: 50px;
}

.main
{
	/*background-color: rgb(201, 210, 240);*/
	height:250px;
	width:100%;
	/*opacity: 1;*/
	/*background-image:url('../assets/back14.jpeg');*/
}


.sidebar
{
	
	height:250%;
	width:114%;
	
}



.text
{
	font-size: 20px;
}


.get
{
	background-color: rgb(196, 6, 132);
	height: 150%;
	width: 100%;	
	color:black;
	font-size: 20px;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										*/
}	
.g1{
	background-color: magenta;
	height: 100%;
	width: 70%;	
	color: white;
	font-size: 15px;

}
.getInside
{
	background-color:rgb(9, 45, 227);
	height: 30px;
	width: 50px;	
	color: white;
	font-size: 10px;
}

.getMain
{
	padding: 10px;
}

.verticalLine 
{
  border-left: 1px solid green;
}

.image 
{
     /*position: fixed;*/
     height: 700px;
     min-width: 100%;
     background-color: mistyrose;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;	
     /*opacity: 0.5;*/
     position: relative;
     /*z-index: 1;*/
}



.image2
{
     /*position: fixed;*/
     height: 700px;
     min-width: 100%;
     background-color: lightcyan;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;	
 
}

.image3
{
     
     height: 1000px;
     min-width: 75%;
     background-color: lavenderblush;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     background-size: cover;	
     
}

.login
{
	height: 250px;
	width: 400px;
}

.post-card
{
	padding: 20px;
	height: 450px;
	width: 350px;
	/*background-color: rgb(237, 240, 245);*/
}

.input
{
	width: 300px;
}

.operation
{
	font-size: 20px;
	color:white;
	background-color: rebeccapurple;
	height: 30px;
	width: 150px;
	/*padding: 5px;*/
}



