
<div>
	<mat-card>
		<h1><b>Educational Information</b></h1>
				<b>SSC</b><br>
				June 2011 - March 2012<br>
				SHRI G D V  Vidhyalaya,karmala<br>
				Passed with 72.00<br>
			
			<br>
			
				<b>HSC</b><br>
				June 2013- February 2014<br>
				Mahatma Gandhi Junior College,Karmala<br>
				Passed with 50.93<br>
			
			<br>
			
				<b>BCS</b><br>
				June 2014 - May 2017<br>
				S.V.P.M College,Baramati<br>
				Passed with 69.00<br>
		
			<br>
			
				<b>MCA</b><br>
				June 2017 - May 2020<br>
				Computer Science Department ,Pune University<br>
				Appearing with 4.3<br>
		
		
	</mat-card>
</div>