b
{
	color:black;
}

nav
{
	background-color: rgb(77, 124, 255);
   /*height: 40px;*/
}

mat-card
{
	background-color:rgb(252, 153, 255);
   height:130px;
}

.footer-mat
{
   background-color:rgb(153, 204, 255);
   height:80px;
}

footer 
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 50px;
}

.top-mat-card
{
	height:40px;
}

img
{
   height: 50px;
   width: 40px;
}