
div
{
	background-color:  rgb(206, 255, 204);
	min-height:500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

mat-card
{
	background-color:rgb(23, 194, 23);
	min-height:400px;
	min-width: 800px;
	border:solid;
	border-width:0.5px;
	/*border-radius: 50px;*/
}

img
{
   /*height: 50px;
   width: 150px;*/
   padding-left: 80px;
}